@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open-Sans-Regular'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
       url('../fonts/OpenSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('Open-Sans-BoldItalic'),
       url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}
