.girafe {
  margin-left: auto;
  margin-right: auto;
}
.girafe_container_std {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.girafe_container_ie {
  height: 0;
}
.girafe_svg_ie {
    position: absolute;
    top: 0;
    left: 0;
}

.ggiraph-toolbar {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255,.3);
    border-radius: 5px;
    padding-top:2px;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}
.ggiraph-toolbar-top {
    text-align:center;
    top: 3px;
    right: 0px;
    left: 0px;
}
.ggiraph-toolbar-topleft {
    text-align:left;
    top: 3px;
    left: 3px;
}
.ggiraph-toolbar-topright {
    text-align:right;
    top: 3px;
    right: 3px;
}

.ggiraph-toolbar-bottom {
    text-align:center;
    bottom: 3px;
    right: 0px;
    left: 0px;
}
.ggiraph-toolbar-bottomleft {
    text-align:left;
    left: 3px;
    bottom: 3px;
}
.ggiraph-toolbar-bottomright {
    text-align:right;
    right: 3px;
    bottom: 3px;
}

.ggiraph-toolbar-block {
  display: inline-block;
  padding-right: 10px;
}

.ggiraph-toolbar-icon {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding-right: 3px;
}

.drop {
    stroke: #E30C37;
    fill: #E30C37;
}
.drop:hover{
    stroke: #333333;
    fill: #333333;
}
.neutral {
    stroke: #006699;
    fill: #006699;
}
.neutral:hover{
    stroke: #333333;
    fill: #333333;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#333333;
  fill-opacity:.5;
}




