.navbar-default {
  background-color: white;
  border-bottom: 1px solid #C32900;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.version {
  background-color: #C32900;
  color:white;
}
.navbar-default .navbar-nav>.active>a {
  color: #C32900;
  background-color: white;
  font-weight: bold;
}
.navbar>.container .navbar-brand {
  color: #C32900;
}
.navbar-default .navbar-link:hover {
  text-decoration: none;
  font-weight: bold;
}

body,p {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  line-height: 1.42857143;
  color: #0F0F0F;
  background-color: #fff;
}

blockquote {
  font-size: 12pt;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #C32900;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #C32900;
}
.nav>li>a {
    color: #333;
    text-decoration: none;
}
.caption {
  color: #777;
  font-style: italic;
}
video {
  margin-bottom: 15px;
}
