on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'sitedeploy')"
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      GDTOOLS_CACHE_DIR: "/usr/share/fonts/gfonts/"
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::gdtools

      - name: "Install 'Google Fonts'"
        run: |
          fontreq=$(Rscript -e "cat(gdtools::install_gfont_script(family = 'Open Sans'))")
          sudo -s eval "$fontreq"
          fontreq=$(Rscript -e "cat(gdtools::install_gfont_script(family = 'Roboto'))")
          sudo -s eval "$fontreq"
          fontreq=$(Rscript -e "cat(gdtools::install_gfont_script(family = 'Fira Code'))")
          sudo -s eval "$fontreq"
        shell: bash


      - name: Install package
        run: R CMD INSTALL .

      - name: Deploy package
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE, clean = TRUE)'
