on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'sitedeploy')"
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: >
            any::rcmdcheck
          needs: check

      - name: Install other dependencies
        run: |
          install.packages("remotes")
          remotes::install_cran(c("pkgdown", "cowplot", "patchwork", "data.table", "charlatan", "tidyverse", "ggthemes", "ggtext"))
          remotes::install_github("ardata-fr/pkgardata")
          remotes::install_github("ardata-fr/usefonts")
        shell: Rscript {0}

      - name: Install package
        run: R CMD INSTALL .

      - name: Deploy package
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE, clean = TRUE)'
